/* COLORES 
VIOLETA #FFA0FD
MINT CREAM #F7FFF7
PURPLE #E952DE
CAROLINA BLUE #02A9EA
INDIGO #153B50
ROSA #D500F9*/

html{
    font-family: 'Mate SC', serif;
}

a:hover{
    opacity: 0.8;
}
/* a:focus{
background-color: red;
} */

img{
width: 100%;
}

.main-images{
    float: left;
    margin-right: 1em;
    height: 350px;
    
}

a{
    text-decoration: none;
    color: #E952DE;
}

.title{
    text-transform: uppercase;
    text-align: center;
}

.paragraph{
    line-height: 1.8rem;
    font-weight: 200;
   
}

.fa-star, .fa-star-half-alt{
color: yellow;
}
.container{
    background: #c0c0aa;  
background: -webkit-linear-gradient(to right, #1cefff, #c0c0aa);  
background: linear-gradient(to right, #1cefff, #c0c0aa); 
height: 100vh;
/* centrar cualquier contenido con flex */
display: flex;
align-items: center;
justify-content: center;
}

.content{
    max-width: 960px;
    max-height: 500px;
    width: 100%;
    height: 80vh;
    background-color: white;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-radius:4px ;
    position:relative;
    overflow: scroll;
    
}



td{
    display: block;
    width: 100%;
}

td:nth-of-type(1){
    font-size: 1.5em;
    font-weight: bold;
    color: #02A9EA ;
}

th{
    display: none;
}

.actions{
    position: absolute;
    top: 1em;
    right: 1em;
}

.close{
    height: 40px;
    width: 40px;
    color: white;
    border-radius: 50%;
    background-color: #02A9EA;
    display: inline-block;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); 
    font-weight: 300;
    cursor:pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* td{
    border: solid 1px;
}
 */
.table{
    width: 100%;
    border-spacing: 0;
}

.table td, .table th{
    padding: 1em;
    text-align: left;
}

.table tr:nth-child(even){
background-color: #FFA0FD;
}

.title-item{
 /*    border-bottom-style: solid;
    border-width: 2px;
    border-color: #02A9EA ; */
    font-size: 2em;
    border-bottom: solid 2px #02A9EA ;
    padding-bottom: 1em;
   
}

.position{
    background-color:#02A9EA ;
    color: white;
    padding: 0.3em;
    border-radius: 4px;
    margin-right: 0.4em;
    margin-bottom: 10em;
}

.text-link-anime{
    margin-top: 2em;
    display: inline-block;
}

@media(min-width:900px){
    th{
        display: table-cell;
    }

    td{
        width: auto;
        display: table-cell;
    }

    td:nth-of-type(1){
        font-size:1em ;
    }
        .content{
            padding: 1.8em;
            overflow: auto;
        }
    
        img{
            width: auto;
        }
}

@media(min-height:550px){
    .content{
        height: 500px;
    }
}